
  <div ng-controller="IndexCtrl">
    <h1>{{title}}</h1>
    <h3>I have {{movies.length}} favorite movies</h3>

    <div ng-repeat="movie in movies | orderBy:'name' | limitTo: 3">
      <p>{{movie.name}}  </p>
    </div>
  </div>

<div class="divider"></div>

<h3>My favorite color is {{favoriteColor}} </h3>
<input type="text" ng-model="favoriteColor" placeholder="Favorite color">

<div class="divider"></div>

<h3>Character Count: {{letterCount.length}}</h3>
<textarea ng-model="letterCount" placeholder="Start Typing"></textarea>